In [1]:
import pandas as pd

import math

def get_distance(lat_1, lng_1, lat_2, lng_2): 
    d_lat = lat_2 - lat_1
    d_lng = lng_2 - lng_1 

    temp = (  
         math.sin(d_lat / 2) ** 2 
       + math.cos(lat_1) 
       * math.cos(lat_2) 
       * math.sin(d_lng / 2) ** 2
    )

    return 6373.0 * (2 * math.atan2(math.sqrt(temp), math.sqrt(1 - temp)))

In [2]:
s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])

In [3]:
s

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
df = pd.read_csv('201809-citibike-tripdata.csv')

In [5]:
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877879,369,2018-09-30 00:27:25.9840,2018-09-30 00:33:35.7070,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3631.0,Crown St & Bedford Ave,40.666563,-73.956741,32976,Subscriber,1985,2
1877880,191,2018-09-30 00:30:30.1850,2018-09-30 00:33:42.1090,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3631.0,Crown St & Bedford Ave,40.666563,-73.956741,15595,Subscriber,1985,2
1877881,1442,2018-09-30 08:10:03.1790,2018-09-30 08:34:05.3870,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,471.0,Grand St & Havemeyer St,40.712868,-73.956981,28646,Subscriber,1981,1
1877882,453,2018-09-30 12:20:13.6830,2018-09-30 12:27:46.9140,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3584.0,Eastern Pkwy & Franklin Ave,40.670777,-73.957680,34272,Subscriber,1986,1
1877883,1354,2018-09-30 14:10:01.1620,2018-09-30 14:32:36.1280,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3321.0,Clinton St & Union St,40.683116,-73.997853,26028,Subscriber,1981,1

In [6]:
df.shape

(1877884, 15)

In [7]:
df['tripduration'].apply(lambda x: x / 60).mean().round(2)

16.13

In [8]:
df[df['start station name'] == df['end station name']].shape

(41364, 15)

In [9]:
df['bikeid'].value_counts()

33875    559
33772    549
34357    549
33868    533
33878    532
        ...
34867      1
15834      1
32379      1
34431      1
29726      1
Name: bikeid, Length: 10892, dtype: int64

In [10]:
df.groupby(['bikeid'])[['tripduration']].mean().sort_values(by='tripduration')

         tripduration
bikeid
32379       64.000000
25612       72.000000
14761      182.666667
34896      217.200000
22368      224.111111
...               ...
18041   103932.100000
19083   335620.142857
17431   394605.833333
28520   417717.000000
17548   488022.400000

[10892 rows x 1 columns]

In [11]:
df['start station id'].isnull().value_counts()

False    1877168
True         716
Name: start station id, dtype: int64

In [12]:
df.groupby(['usertype']).agg({'tripduration': lambda x: round((sum(x) / len(x)) / 60, 2)})

            tripduration
usertype
Customer           33.42
Subscriber         13.33

In [13]:
df.groupby(df[df['start station name'] != df['end station name']]).apply(
    get_distance(
        df['start station latitude'], 
        df['start station longitude'],
        df['end station latitude'], 
        df['end station longitude']
    ))

ValueError: Grouper for '<class 'pandas.core.frame.DataFrame'>' not 1-dimensional

In [14]:
df[['start station id', 'stoptime']]

         start station id                  stoptime
0                   252.0  2018-09-01 00:27:20.6340
1                   314.0  2018-09-01 00:02:23.4810
2                  3142.0  2018-09-01 00:55:58.5470
3                   308.0  2018-09-01 00:07:38.5830
4                   345.0  2018-09-01 02:21:25.3080
...                   ...                       ...
1877879            3601.0  2018-09-30 00:33:35.7070
1877880            3601.0  2018-09-30 00:33:42.1090
1877881            3601.0  2018-09-30 08:34:05.3870
1877882            3601.0  2018-09-30 12:27:46.9140
1877883            3601.0  2018-09-30 14:32:36.1280

[1877884 rows x 2 columns]

In [30]:
df.groupby('start station id').apply(lambda x: x['stoptime'].apply(lambda x: 18 <= int(x[11:13]) <= 20))

start station id
72.0              420        False
                  612        False
                  1111       False
                  1390       False
                  1914       False
                             ...
3705.0            1876591    False
                  1876663    False
                  1876884    False
                  1876889    False
                  1877096    False
Name: stoptime, Length: 1877168, dtype: bool

In [41]:
df.apply(lambda x: x['stoptime'][11:13], axis=1)

0          00
1          00
2          00
3          00
4          02
           ..
1877879    00
1877880    00
1877881    08
1877882    12
1877883    14
Length: 1877884, dtype: object

In [40]:
df['start station id'].value_counts()

519.0     13968
497.0     11302
402.0     10875
426.0     10789
435.0     10322
          ...
3432.0      121
2005.0      112
3333.0      107
3704.0       49
3239.0       10
Name: start station id, Length: 768, dtype: int64

In [43]:
df.stoptime[11:13]

11    2018-09-01 00:09:47.0470
12    2018-09-01 00:10:07.3130
Name: stoptime, dtype: object